{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <title>Home</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>

            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
            <li class="dropdown">
                <a href="/">Departments</a>
                <ul class="dropdown-content">
                    <li><a href="https://en.wikipedia.org/wiki/Computer Science">Computer Science</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/History">History</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Biology">Biology</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Physics">Physics</a></li>
                </ul>



            </li>

        </ul>

    </nav>
    </div>
    <main>

        <h1>School</h1>
        <p>School is the basic foundation of knowledge being imparted to a child. It gives a chance to children to acquire knowledge on various fields of education, such as people, literature, history, mathematics, politics, and other numerous subjects</p>
        <img src="https://thumbs.dreamstime.com/b/group-school-kids-teacher-classroom-education-elementary-learning-people-concept-sitting-listening-to-57820297.jpg" style="width:18rem;height:18rem;">
    </main>






</body>
</html>

