<!DOCTYPE html>
<html>
<head>
    <title>Login - School Store</title>
    <link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">School Store</div>
        </nav>
    </header>
    <div class="content">
        <h2>Login</h2>
        <form id="loginForm" onsubmit="return openWelcomePage()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="button" class="btn btn-secondary"><a href="new_page/">submit</a></button>

            <p> if you don't have an account register here </p>
            <button><a href="register">Register</a></button>
        </form>
    </div>

</body>
</html>


