<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head content here -->
</head>
<body>
    <section>
        <h2>Register Page</h2>
        <form id="registerForm">
            <label for="regUsername">Username:</label>
            <input type="text" id="regUsername" name="regUsername" required><br>
            <label for="regPassword">Password:</label>
            <input type="password" id="regPassword" name="regPassword" required><br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br>
            <button type="button" class="btn btn-secondary"><a href="login">Register</a></button>

        </form>
    </section>
</body>
</html>




